@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  font-family: "Overpass", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
}

.app-container {
  height: 100%;
  width: 100%;
  font-family: "Overpass", sans-serif;
  background-color: #373737;
  /* background-image: url("https://i.gyazo.com/7e5527487ff419c2636f7ff2ad7d33e9.png"); */
  /* background-size: cover; */
}

.nav-bar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.site-name {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #950000;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
}

.nav-link-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #950000;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #950000;
}

i {
  color: white;
}

.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  right: 285px;
  padding: 0;
}

.dropdown-menu li {
  background: #242222;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #950000;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

a {
  text-decoration: none;
}
.dev {
  text-decoration: underline;
}

button {
  text-decoration: none;
  color: black;
}

.item-name {
  text-decoration: none;
  color: white;
}

.item-name:hover {
  text-decoration: underline;
}

.homepage-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
}

.homepage-content {
  margin: 10px;
  color: white;
}

.homepage-title {
  border-bottom: 1px solid white;
  width: 65%;
}

.video {
  display: flex;
  justify-content: center;
}

.aside {
  float: right;
  border: 2px solid white;
  margin: 20px;
  text-align: center;
}

.aside-title {
  background-color: white;
  color: black;
  padding: 12px;
  margin: 0;
}

.ron-home-img {
  width: 75%;
  margin: 20px;
}

.world-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 25px;
  border-radius: 10px;
}

.world-content {
  margin: 10px;
  color: white;
}

.locations-list li {
  margin: 10px;
  text-decoration: none;
  color: white;
}
.locations-list li:hover {
  text-decoration: underline;
}

.world-aside {
  float: right;
  border: 2px solid white;
  margin: 20px;
  text-align: center;
}

.world-aside-title {
  background-color: white;
  color: black;
  padding: 12px;
  margin: 0;
}

.los-suenos-img {
  width: 500px;
  margin: 20px;
}
.backto {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 100%;
  margin-top: 30px;
}

.backto:hover {
  text-decoration: underline;
}

.all-ammoTypes-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all-ammoTypes {
  margin: 10px;
  color: white;
  font-size: 25px;
}

.ammo-img {
  width: 25%;
  border-radius: 5px;
}

.all-ammotypes {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.indiv-ammotype {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.indiv-ammo-img {
  width: 40%;
  border-radius: 5px;
}

.all-armor-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.all-armor {
  margin: 10px;
  color: white;
  font-size: 25px;
}

.armor-img {
  width: 30%;
  border-radius: 5px;
}

.indiv-armor-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.indiv-armor {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.indiv-armor-img {
  width: 60%;
  border-radius: 5px;
}

.all-armormaterial-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all-armormaterial {
  margin: 10px;
  font-size: 25px;
}

.material-img {
  border-radius: 5px;
  width: 35%;
}

.indiv-materials-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.indiv-material {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.indiv-material-img {
  border-radius: 5px;
  width: 35%;
}

.all-deployables-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  font-size: 20px;
  height: 100;
  align-items: center;
  flex-direction: column;
}

.all-deployables {
  margin: 10px;
  font-size: 25px;
}

.deploy-img {
  border-radius: 5px;
  width: 500px;
}

.indiv-deployables-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.indiv-deployable {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}

.indiv-deploy-img {
  width: 600px;
  border-radius: 5px;
}

.all-headwear-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-headwear {
  margin: 10px;
  font-size: 25px;
}

.headwear-img {
  width: 50%;
  border-radius: 5px;
}

.indiv-headwear-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-headwear {
  text-align: center;
  font-size: 25px;
}

.indiv-headwear-img {
  width: 50%;
  border-radius: 5px;
}

.all-maps-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-maps {
  margin: 10px;
  font-size: 25px;
}

.maps-img {
  width: 500px;
  border-radius: 5px;
}

.indiv-maps-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-map {
  text-align: center;
  font-size: 25px;
}

.indiv-map-img {
  width: 600px;
  border-radius: 5px;
}

.all-missions-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-missions {
  margin: 10px;
  font-size: 25px;
}
.missions-img {
  border-radius: 5px;
}

.indiv-missions-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-mission {
  text-align: center;
  font-size: 25px;
}

.indiv-mission-img {
  width: 500px;
  border-radius: 5px;
}

.all-tacticals-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-tacticals {
  margin: 10px;
  font-size: 25px;
}
.tacticals-img {
  width: 500px;
  border-radius: 5px;
}

.indiv-tacticals-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-tactical {
  text-align: center;
  font-size: 25px;
}

.indiv-tactical-img {
  width: 600px;
  border-radius: 5px;
}

.all-rifles-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-rifles {
  margin: 10px;
  font-size: 25px;
}

.rifle-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-rifles-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.indiv-assaultrifle {
  text-align: center;
  font-size: 25px;
}

.indiv-rifle-img {
  width: 700px;
  border-radius: 5px;
}

.all-smgs-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-smgs {
  margin: 10px;
  font-size: 25px;
}

.smgs-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-smgs-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-smg {
  text-align: center;
  font-size: 25px;
}

.indiv-smg-img {
  width: 700px;
  border-radius: 5px;
}

.all-shotguns-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-shotguns {
  margin: 10px;
  font-size: 25px;
}

.all-shotguns-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-shotgun-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-shotgun {
  text-align: center;
  font-size: 25px;
}

.indiv-shotgun-img {
  width: 700px;
  border-radius: 5px;
}

.all-sidearms-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-sidearms {
  margin: 10px;
  font-size: 25px;
}

.all-sidearms-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-sidearm-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-sidearm {
  text-align: center;
  font-size: 25px;
}

.indiv-sidearm-img {
  width: 700px;
  border-radius: 5px;
}

.all-grenades-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-grenades {
  margin: 10px;
  font-size: 25px;
}

.all-grenades-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-grenade-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-grenade {
  text-align: center;
  font-size: 25px;
}

.indiv-grenade-img {
  width: 700px;
  border-radius: 5px;
}

.all-launchers-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-launchers {
  margin: 10px;
  font-size: 25px;
}

.all-launchers-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-launcher-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-launcher {
  text-align: center;
  font-size: 25px;
}

.indiv-launcher-img {
  width: 700px;
  border-radius: 5px;
}

.all-lesslethals-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.all-lesslethals {
  margin: 10px;
  font-size: 25px;
}

.all-lesslethals-img {
  width: 650px;
  border-radius: 5px;
}

.indiv-lesslethals-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.indiv-less-lethal {
  text-align: center;
  font-size: 25px;
}

.indiv-lesslethal-img {
  width: 700px;
  border-radius: 5px;
}

.error-title {
  font-size: 200px;
  text-align: center;
}

.error-message {
  font-size: 100px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.error-btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #950000;
  margin-bottom: 20px;
}

.error-gif-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.error-gif {
  justify-self: center;
}
.error-btn:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #950000;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 90vh; */
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 0;
  }

  .nav-link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    background-color: #950000;
    border-radius: 0;
  }

  .site-name {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(25%, 50%); */
    text-align: start;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-link-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    background: #950000;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-link-mobile:hover {
    background: #fff;
    color: #950000;
    transition: 250ms;
  }
  button {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .dropdown-menu {
    right: 380px;
  }
}

@media screen and (max-width: 1600px) {
  .dropdown-menu {
    right: 230px;
  }
}

@media screen and (max-width: 1366px) {
  .dropdown-menu {
    right: 200px;
  }
}
