@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  font-family: "Overpass", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;

  font-family: "Overpass", sans-serif;
  background-image: url("https://i.gyazo.com/7e5527487ff419c2636f7ff2ad7d33e9.png");
  background-size: cover;
}

.nav-bar {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  font-size: 20px;
  width: 100%;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  justify-content: space-between;
  color: white;
  font-family: "Overpass", sans-serif;
  text-align: center;
}

.nav-link:hover {
  /* box-shadow: 2px 2px 2px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border-radius: 2px;
  background-color: #950000;
}

.site-name {
  display: flex;
  font-size: 25px;
  color: white;
  width: 100%;
}
a {
  text-decoration: none;
}
.dev {
  text-decoration: underline;
}

button {
  text-decoration: none;
  color: black;
}

.item-name {
  text-decoration: none;
  color: black;
}

.item-name:hover {
  text-decoration: underline;
}

.navbar {
  background-color: black;
}

.homepage-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 100px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
}

.homepage-content {
  margin: 10px;
  color: white;
}

.homepage-title {
  border-bottom: 1px solid white;
  width: 65%;
}

.video {
  display: flex;
  justify-content: center;
}

.aside {
  float: right;
  border: 2px solid black;
  margin: 20px;
  text-align: center;
}

.ron-home-img {
  width: 75%;
}

.weapons-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 100px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weapons-btn {
  /* margin-top: 100px; */
  display: flex;
  border: none;
  color: white;
  background-color: gray;
  border-radius: 2px;
  font-size: 20px;
  /* border: 2px solid #950000; */
}

.weapons-btn:hover {
  /* box-shadow: 4px 4px 4px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #950000;
}
