.homepage-container {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
  border-radius: 10px;
}

.homepage-content {
  margin: 10px;
  color: white;
}

.homepage-title {
  border-bottom: 1px solid white;
  width: 65%;
}

.video {
  display: flex;
  justify-content: center;
}

.aside {
  float: right;
  border: 2px solid white;
  margin: 20px;
  text-align: center;
}

.aside-title {
  background-color: white;
  color: black;
  padding: 12px;
  margin: 0;
}

.ron-home-img {
  width: 75%;
  margin: 20px;
}
